@import "_elements";
@charset "UTF-8";

// GLOBAL

// STRUCTURE
html { font-size: 100%; height:100%; margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family:Verdana, Arial, sans-serif; color:$default-color; }
body { background:#fff; margin:0; padding:0; font-size:1em; min-height:100%; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

hr { border:0; border-top-width:1px; border-color:#fff; border-style:solid; clear:both; height:0; display:block; margin:0; }

a { color: $default-link-color; text-decoration:none; }
a:active, a:visited, a:hover, a:link { color: $default-link-color; }

b, strong { font-weight: bold; }
ul, ol { margin: 0 0 1em 0; padding: 0 0 0 40px; }
img { border: 0; vertical-align: middle; }
.aligncenter { text-align: center; }
.unstyled { list-style-type:none; margin:0; padding:0; }

.clearfix { zoom:1; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }

// STRUCTURE

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body > div {
	display: none;
}

.ng-scope {
	display: block;
}

.ng-scope .wrapper-home {
	.wrapper__header, .content__tagline {
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	.bt-item {
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	.sidebar {
		-webkit-animation-name: fadeInDownBig;
		animation-name: fadeInDownBig;
		-webkit-animation-duration: 1.5s;
		animation-duration: 1.5s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
}

.ng-scope .wrapper-question {
	.content {
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
		-webkit-animation-duration: .5s;
		animation-duration: .5s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	.question-item {
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	.sidebar {
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
		-webkit-animation-duration: 1.5s;
		animation-duration: 1.5s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
}


.ng-scope .main__result {
	-webkit-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.wrapper {
	display: block;
	height:600px;
	margin:0 auto;
	padding: 0;
	width:800px;
}

.wrapper-question {
	background: #ff5484;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNTQ4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMWJmZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #ff5484 0%, #01bffe 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff5484), color-stop(100%,#01bffe));
	background: -webkit-linear-gradient(left, #ff5484 0%,#01bffe 100%);
	background: -o-linear-gradient(left, #ff5484 0%,#01bffe 100%);
	background: -ms-linear-gradient(left, #ff5484 0%,#01bffe 100%);
	background: linear-gradient(to right, #ff5484 0%,#01bffe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5484', endColorstr='#01bffe',GradientType=1 );
}

.wrapper-home {
	background: #ff5484;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNTQ4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMWJmZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ff5484 0%, #01bffe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5484), color-stop(100%,#01bffe));
	background: -webkit-linear-gradient(top, #ff5484 0%,#01bffe 100%);
	background: -o-linear-gradient(top, #ff5484 0%,#01bffe 100%);
	background: -ms-linear-gradient(top, #ff5484 0%,#01bffe 100%);
	background: linear-gradient(to bottom, #ff5484 0%,#01bffe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5484', endColorstr='#01bffe',GradientType=0 );
}

.header {
	clear:both;
	height:40px;
	h1 {
		float: left;
		color:#fff;
		display: block;
		font:normal 22px/1.3 Verdana, Arial, sans-serif;
		margin: 0;
		padding: 5px 0 0 20px;
		strong {
			font-family:Verdana, Arial, sans-serif;
		}
		a {
			color:#fff;
		}
	}
}

.main {
	clear:both;
	display: table;
	table-layout: fixed;
	width: 100%;
	.wrapper-question & {
		background:#fff;
		height:545px;
	}
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sidebar {
	display: table-cell;
	vertical-align: bottom;
	width:175px;
	p {
		display: block;
		height:60px;
		margin: 0;
		padding:0;
	}
}

.sidebar__character {
	img {
	display: block;
	margin: 0 auto;
	padding: 0;
	}
}

.content {
	display: table-cell;
	vertical-align: top;
}

.footer {
	clear:both;
	height:15px;
}

// HOME

.wrapper__header {
	height:112px;
	padding:23px 0 0 0;
	img {
		display: block;
		margin: 0 auto;
		padding:0;
	}
}
.content__tagline {
	img {
		display: block;
		margin: 50px auto 10px auto;
		padding:0;
	}
}

// QUESTION
.content__header {
	height:125px;
}

.content {
	h2 {
		background:#ff0048;
		color:#fff;
		display: inline-block;
		font-size: 20px;
		line-height:1.3;
		margin: 45px 0 0 0;
		padding: 2px 5px;
		vertical-align: top;
	}
	p {
		color:#6743a6;
		display: block;
		font-size: 22px;
		line-height:1.3;
		margin: 0;
		padding: 0 0 20px 0;
	}
}

.question-item {
	cursor:pointer;
	display: block;
	line-height:1.1;
	margin: 0;
	padding:0 0 15px 0;
	&:hover {
		// font-weight: bold;
		color: #444;
	}
}

.bullet {
	border-radius:100%;
	display: inline-block;
	height: 12px;
	margin:3px 1px 0 0;
	vertical-align: top;
	width: 12px;
}

.default-bullet {
	background:#a3a3a3;
}

.wrapper-result-deuce {
	background:#9981b3;
}

.nkm-bullet {
	background:$nkm-color;
}

.hidalgo-bullet, .wrapper-result.ah {
	background:$hidalgo-color;
}

.bt-left, .bt-right {
	background-position:left top;
	background-repeat:no-repeat;
	display: block;
	height: 65px;
	margin:0 auto 20px auto;
	width:33px;
}

.bt-left {
	background-image:url(/app/images/bt-left.png);
	&:hover {
		background-image:url(/app/images/bt-left-over.png);
		cursor:pointer;
	}
}

.bt-right {
	background-image:url(/app/images/bt-right.png);
	&:hover {
		background-image:url(/app/images/bt-right-over.png);
		cursor:pointer;
	}
}

// RESULTS

.wrapper-result.nkm {
	background:#04bdfc;
}

.wrapper-result.ah {
	background:#f03e8d;
}

.wrapper-result.nkm.ah {
	background:#9981b3;
}


.main__result__header {
	height:240px;
	margin: 0;
	padding:67px 0 0 0;
	text-align: center;
	img {
		display: inline-block;
		vertical-align: top;
	}
}

.main__result__body {
	color:#fff;
	height:100px;
	text-align: center;
	p {
		display: block;
		font-size: 22px;
		line-height: 1.2;
		margin: 0;
		padding: 0;
		strong {
			font-size: 40px;
		}
	}
}

.main__result__footer {
	text-align: center;
	p {
		display: block;
		margin: 0;
		padding:35px 0 0 0;
	}
}

.bt-item {
	display: inline-block;
	margin: 0 5px;
	padding: 0;
	vertical-align: top;
	a {
		@include transition(all .2s linear);
		background:#fff;
		border:1px solid #fff;
		border-radius:4px;
		color:#9981b3;
		display: inline-block;
		font-size: 22px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		vertical-align: top;
		width:190px;
		.nkm &, .wrapper-home & {
			color:#04bdfc;
		}
		.ah & {
			color:#f03e8d;
		}
		&:hover {
			background:none;
			color:#fff !important;
		}
	}
}