<div class="wrapper home">
	<header class="header clearfix">
		<div class="header__body">
			<a href="http://www.leparisienmagazine.fr" target="_top"><img src="/app/images/logo-le-parisien-magazine-large.png" alt="Le Parisien Magazine" class="aligncenter" /></a>
			<p>présente</p>
		</div><!-- .header__body -->
	</header>
	<div class="main">
		<div class="tagline">
			Faites-vous partie des <strong><em>Classes</em> moyennes</strong> <span>?</span>
		</div><!-- .tagline -->
		<div class="bt-go">
			<a href="/app/test"><span>Passer <br /> le test</span></a>
		</div><!-- .bt-go -->
	</div><!-- .main -->
	<footer class="footer clearfix">
		<div class="left methodo">
			<a href="#">Méthodologie</a>
		</div>
		<ul class="unstyled footer-social__list right">
			<li class="footer-social__item"><a href="https://www.facebook.com/sharer/sharer.php?u=SHARE_URL&t=SHARE_TEXT" class="icon-facebook">Partager sur facebook</a></li>
			<li class="footer-social__item"><a href="http://twitter.com/home?status=SHARE_STATUS" class="icon-twitter">Twitter</a></li>
			<li class="footer-social__item"><a href="#" class="icon-email">Partager via Email</a></li>
		</ul>
	</footer><!-- .footer -->
</div><!-- .wrapper -->

<div id="methodo" ng-include="'/app/partials/methodo.html'"></div><!-- #methodo -->
