			<div class="aligncenter">
				<div class="tagline">
					Faites-vous partie des <strong><em>Classes</em> moyennes</strong> <span>?</span>
				</div><!-- .tagline -->
				<h2>Méthodologie</h2>
			</div><!-- .aligncenter -->
			<div class="methodo-inner clearfix">
				<p>
					Ce test a été réalisé en collaboration avec l’Observatoire des inégalités (<a href="http://www.inegalites.fr" target="_blank">www.inegalites.fr</a>)
				</p>
				<p>
					<strong>Les classes moyennes peuvent être approchées de différentes manières qui peuvent se combiner :</strong>
				</p>
				<ul>
					<li>
						<strong>Par mes revenus.</strong> Il existe plusieurs définitions. Nous avons retenu celle de l'Observatoire des inégalités qui estime que les classes moyennes sont comprises entre les 30% les plus modestes et les 20% les mieux notés.
					</li>
					<li>
						<strong>Par les métiers.</strong> Les sociologues s'accordent à dire que les professions intermédiaires (technicien, professeur des écoles, infirmier, éducateur,...)  constituent le coeur des classes moyennes mais qu'il faut ajouter une petite portion de chacune des autres catégories socio-professionnelles.
					</li>
				</ul>
				<p>
					<strong>Des critères secondaires peuvent aussi être pris en compte. Nous avons retenus les 2 principaux :</strong>
				</p>
				<ul>
					<li>
						<strong>Le diplôme</strong> Le résultat de cette question varie fortement selon les générations. Si seuls 24% des français sont titulaires d'un diplôme supérieur au Bac, c'est le cas de 45,7% des actifs âgés de 30 à 39 ans.
					</li>
					<li>
						<strong>Le patrimoine.</strong> Nous avons considéré que les classes moyennes étaient comprises entre les 30% les plus modestes et les 20% les mieux dotés. Ces données n'étant pas disponibles auprès de l'Insee, nous nous sommes basés sur le travail des économistes Thomas Piketty, Emmanuel Saez et Camille Landais (<a href="http://www.revolution-fiscale.fr" target="_blank">www.revolution-fiscale.fr</a>).
					</li>
				</ul>
				<div class="bt-go bt-go--ok">
					<a href="/app/test"><span>OK</span></a>
				</div><!-- .bt-go -->
			</div><!-- .methodo-inner -->
